/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



.background{
    background-color: #ffffff;
}

.margin{
    margin-bottom: 8px;
}

.borders{
    border-radius: 20px;
    box-shadow: 0 2px 0px rgb(142, 142, 142, .5);
}

.color{
    color: #4D4D4D;
    cursor: pointer;
}
#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
#mainAll{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
